@model List<Wedding>

@{
    int? uid = Context.Session.GetInt32("UserId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="lefthead col-10">
                <h1>Welcome to the Wedding Planner</h1>
            </div>
            <div class="righthead col-2">
                <a href="/logout">Logout</a>
            </div>
        </div>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Wedding</th>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Wedding wedding in Model)
                    {
                        bool alreadyRSVP = wedding.RSVP.Any(vp => vp.UserId == uid);

                        <tr>
                            <td><a href="/wedding/@wedding.WeddingId">@wedding.Bride & @wedding.Groom</a></td>
                            <td>@wedding.Date.ToString("MM / dd / yyyy")</td>
                            <td>@wedding.Address</td>
                            <td>
                                <a asp-controller="Wedding" asp-action="Delete" asp-route-weddingId="@wedding.WeddingId" class="btn btn-danger mt-1">Delete</a>
                            </td>
                            <td>
                                <a asp-action="RSVP" asp-controller="Wedding" asp-route-weddingId="@wedding.WeddingId" class="btn btn-success mt-1">

                                    @if (alreadyRSVP)
                                    {
                                        <span>UN-RSVP</span>
                                    }
                                    else
                                    {
                                        <span>RSVP</span>
                                    }

                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        <a href="/new_wedding" class="btn btn-secondary">New Wedding</a>
    </div>
</body>
</html>