@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="home text-left">
            <a href="/">Home</a>
        </div>
        <div class="name text-center">
            <h2>@Model.DishName</h2>
            <h4>@Model.ChefName</h4>
        </div>
        <div class="info">
            <p>Description: @Model.Description</p>
            <p>Calories: @Model.Calories</p>
            <p>Tastiness: @Model.Tastiness</p>
        </div>
        <div class="row">
            <a href="/delete/@Model.DishId" class="btn btn-danger">Delete</a>
            <a href="/edit/@Model.DishId" class="btn btn-secondary">Edit</a>
        </div>
    </div>
</body>
</html>